body{
    background-image: linear-gradient(180deg,rgb(41, 42, 46),rgb(27, 28, 30)/*,rgb(0, 0, 0)*/);
    background-repeat: no-repeat;
}
h1{
    margin: 1em auto;
  text-align: center;
}
img{
    height:80%;
}
.flex-parent {
    display: flex;
    width:80%;
    height:70%;
    margin: auto;

}

.right{
    background-color:rgb(0, 0, 0);
    color: azure;
    width:100%;
    margin: none;
}

.left{
    margin: none;
}
hr{
    display:block;
}
label{
    display: block;
    padding-left:2px;
    padding-top:2px;
    padding-right:2px;
    padding-bottom:6px;
}
fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
textarea{
    width:100%;
    max-width: 400px;
}
/*h1{
    text-align: center;
    color:rgb(137, 55, 23);
    font-family:cursive;
    padding-bottom:none;
    padding-top: 20px;
    line-height:5px;
}*/
p{
    text-align: center;
    padding-bottom: 3px;
}
hr{
    width: 90%;
    height: 2px;
    background-color: rgb(137, 55, 23);
}
input[type='number']{
    width: 163px;
}